@using HackDay.Models
@model LoginModel    
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);"><b>Hack</b>Day</a>
    </div>
    <div class="card">
        <div class="body">
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id= "sign_in", role = "form" }))
            {


           
            @*<form id="sign_in" method="POST">*@
                <div class="msg">Sign in to start your session</div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" , @placeholder = "Username" })
                        @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-green-heavy waves-effect" type="submit">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        @*<a href="~/Views/Register/Index.cshtml">Register Now!</a>*@
                        @Html.ActionLink("Register Now!", "Index", "Register")
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
            }
            @*</form>*@
        </div>
    </div>
</div>